

<section class="posts container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="postCards col-11 col-sm-8 d-flex justify-content-center card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>

                <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                </p>

                <h6>Created by: Aziz Kabia</h6>
            </div>
        </div>

        <form action="" method="POST" class="col-11 col-sm-8 commentForm d-flex flex-column justify-content-center">
            <label class="commentLabel col-12" for="comment">Comment:</label>
            <textarea class="col-12 commmentText" name="comment" id="comment"></textarea>
            <button type="submit" class="commentButton col-7 btn btn-secondary">
                Comment
            </button>
        </form>
    </div>
</section>
