  <section class="container-fluid newUser">
    <div class="row">
      <div class="col-12 d-flex flex-row justify-content-center">
        <form class="signUP col-12 col-sm-10 col-md-8 col-lg-7 d-flex flex-column justify-content-between" action=""
          method="POST">


          <label class="signUpLabel" for="userName">User Name:</label>
          <input class="signUpField col-10 col-sm-11 col-md-10 col-lg-11" type="text" name="userName" id="userName" />

          
          <label class="signUpLabel" for="email">Email:</label>
          <input class="signUpField col-10 col-sm-11 col-md-10 col-lg-11" type="text" name="email" id="email" />

          <div class="passWordArea">
            <label class="signUpLabel password col-12" for="password">Password:</label>
            <input class="signUpField col-10 col-sm-11 col-md-10 col-lg-11" type="password" name="password"
              id="password" />
            <span class="eyeIcon password-toggle-icon"><i class="fas fa-eye"></i></span>
          </div>

          <div class="buttonArea d-flex flex-row justify-content-center align-items-center">
            <button type="submit" class="formButtons btn1 col-5 btn btn-secondary">
              Create Account
            </button>
           
          </div>
        </form>
      </div>
    </div>
  </section>