
<section class="addPost container-fluid">
    <div class="row d-flex justify-content-center">
        <a href="/api/blogs" class="postButton col-11 col-sm-4 col-lg-3 btn btn-secondary">
            + Add Post
        </a>
    </div>
</section>




<section class="posts container-fluid">
    <div class="row d-flex justify-content-center">


        {{#each newuserData.blogs as | blog |}}
        <div class="postCards col-11 col-sm-5 d-flex justify-content-center card">
            <div class="card-body">
                <h5 class="card-title">{{blog.topic}}</h5>

                <p class="card-text cardT">
                    {{blog.description}}
                </p>

                <h6> Created by: {{blog.user.user_name}}  </h6>
                <a href="/api/blogs/{{blog.id}}" class="cardLink card-link">View </a>
                <a href="/api/users/update" class="cardLink card-link">Update  </a>
                <a href="/" class="cardLink card-link">Delete </a>
                
            </div>
        </div>
        {{/each}}


       
    </div>
</section>