
<section class="addPost container-fluid">
    <div class="row d-flex justify-content-center">
        <button type="button" class="postButton col-11 col-sm-4 col-lg-3 btn btn-secondary">
            + Add Post
        </button>
    </div>
</section>

<section class="posts container-fluid">
    <div class="row d-flex justify-content-center">






         {{#each newBlogData as | blogData|}}

        <div class="postCards col-11 col-sm-5 d-flex justify-content-center card">
            <div class="card-body">
                <h5 class="card-title">{{blogData.topic}}</h5>

                <p class="card-text cardT">
                   {{blogData.description}}
                </p>
                <h6> Created by: {{blogData.user.user_name }} </h6>
                <a href="/api/users/comment" class="cardLink card-link">Comment</a>
                <a href="/api/blogs/viewone" class="cardLink card-link">View </a>
            </div>
        </div>

        {{/each}}







       
    </div>
</section>