

<section class="posts container-fluid">
    <div class="row d-flex justify-content-center">

        <form id="alert" class="col-11 col-sm-8 commentForm d-flex flex-column justify-content-center">
            <label class=" postTitle" for="title">Post Title: </label>
            <input class="postTitletext" type="text" id="title">
            <label class="commentLabel col-12" for="postBody">Post Body:</label>
            <textarea class="col-12 commmentText" name="postBody" id="postBody"></textarea>
            <button type="button" class="commentButton col-7 btn btn-secondary"   id="createBlogBtn"  >
                Create Post
            </button>
        </form>
    </div>
</section>

<script src="/js/blog.js"></script>
