
<section class="posts container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="postCards col-11 col-sm-11 d-flex justify-content-center card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>

                <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                </p>

                <h6> Created by: Aziz Kabia  </h6>
                <a href="/api/users/comment" class="cardLink card-link">Comment</a>
                
            </div>
        </div>




        <div class="postCards col-11 col-sm-5 d-flex justify-content-center card">
            <div class="card-body">
                <h5 class="card-title"> Comment by: John Stafford </h5>

                <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                </p>

                
            </div>
        </div>

        <div class="postCards col-11 col-sm-5 d-flex justify-content-center card">
            <div class="card-body">
                <h5 class="card-title"> Comment by: Solo Hedd </h5>

                <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                </p>

                
            </div>
        </div>



       
    </div>
</section>